mode:update
code:HEALTH_CHECK
description:GBC Research - Health Check Alert
**START**
 <p>System health check has found the following issue that needs to be addressed:</p>
 <p/>
 <p>${issue}</p>
 <p/>
**END**