mode:update
code:STANDARD_FOOTER
description:Standard email footer
**START**
<br clear="all" />
<p><em>This is an automated email. Please do not reply.</em></p>
                              <p>Research Portal</p>
                               <p>George Brown College</p>
**END**