.contentBody{
    border-style:solid;
    border-width:1px;
    border-color: #DCDCDC;
    border-radius:7px;
    width:450px;
    height: 300px;
    align-content:center;
    margin:0 auto;
    background-color:#F5F9FF;
}
.contentHeader{
    color:white;
    background: linear-gradient(#055091, #005293);
    margin:5px 5px 5px 5px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    border-radius: 5px;
    font-size:18px;
    font-family: sans-serif;
    font-weight:bold;
}
.instruction{
    text-align:center;
    font-size: 18px;
    font-family:sans-serif;
    margin-top:20px;
}
#username{
    width:200px;
    display:inline-block;

}
#usernameLabel{
    display:inline-block;
    margin-left:15px;
    margin-right:10px;
}
.input{
    padding:20px;
    margin-top:20px;
}
.button{
    margin-top:20px;
    text-align:center;
}